@model Uygulama.Models.DavetiyeCevabi
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <link rel="stylesheet" href="/css/site.css" />
 <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
 <title>Davetiye Formu</title>
</head>
<body>
<div class="container">

 <form asp-action="DavetiyeCevabi" method="post" class="row g-3 align-items-center">
 <div asp-validation-summary="All"></div>
 
 <div>
 <label asp-for="AdiSoyadi">Adı Soyadı:</label>
 <input asp-for="AdiSoyadi" />
 </div>
 <div class="form-group">
	<label asp-for="EPosta" class="form-label">E-Postanız:</label>
	<input asp-for="EPosta" class="form-control" />
 </div>
 <div>
 <label asp-for="Telefon">Telefon:</label>
 <input asp-for="Telefon" />
 </div>
 <div>
 <label asp-for="KatilimDurumu">Katılacak mısınız?</label>
 <select asp-for="KatilimDurumu">
 <option value="">Bir Seçenek Seçin</option>
 <option value="true">Evet</option>
 <option value="false">Hayır</option>
 </select>
 </div>
 <button type="submit" class="btn btn-success">Gönder</button>
 </form>
 </div>
</body>
</html>